.container {
  height: 800px;
  width: 600px;
}

.formContainer {
  position: relative;
  height: 700px;
  width: 100%;
  background: var(--form-background-color-grey);
  border-radius: 5px;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.formMail {
  position: absolute;
  width: 550px;
  height: 600px;
  padding: 10px;
  z-index: 3;
}

.imgBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  opacity: 0.2;
  z-index: 2;
}

.formControl {
  width: 100%;
  height: 110px;
}

.formControlText {
  width: 100%;
  height: 270px;
}

.error {
  color: var(--font-color-light-red);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1px;
}

.buttonContainer {
  display: flex;
}

.buttonWrap {
  width: 50%;
  display: flex;
  align-items: center;
}

.spinerWrap {
  visibility: hidden;
  width: 50%;
  padding-right: 100px;
  display: flex;
  justify-content: flex-start;
}
