.globalContainer {
  width: 100%;
  height: 100%;
}

.container {
  height: 80vh;
  width: 32vw;
}

@media (min-height: 1000px) {
  .formContainer {
    position: relative;
    height: 700px;
    width: 100%;
    background: var(--form-background-color-grey);
    border-radius: 5px;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .formMail {
    position: absolute;
    width: 90%;
    height: 600px;
    padding: 10px;
    z-index: 3;
  }
}

@media (max-height: 999px) {
  .formContainer {
    position: relative;
    height: 70vh;
    width: 100%;
    background: var(--form-background-color-grey);
    border-radius: 5px;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .formMail {
    position: absolute;
    width: 90%;
    height: 85%;
    padding: 2%;
    z-index: 3;
  }
}

.imgBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  opacity: 0.2;
  z-index: 2;
}

.buttonContainer {
  height: 10%;
  width: 100%;
  display: flex;
}

.buttonWrap {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.spinnerWrap {
  width: 50%;
  padding-left: 20%;
  display: flex;
  align-items: center;
}
