.loader-container {
  height: 45vh;
  left: calc((100% - 35vw) / 2);
  position: absolute;
  top: 250px;
  width: 35vw;
  z-index: 2;

  div {
    bottom: 2px;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    letter-spacing: 1px;
    position: absolute;
    width: 35vw;
  }
}
